body, head{
	background-color: white;
}
.calc{
	background-color: white;
}

.selector{
	margin-top: 10px;
}

.txt{
		width: 100%;
}

.logos_foot{
	border-radius: 50px;
	padding: 10px;
	height: 80px;
	width: 80px;
}

.image{
	display: block;
	width: 100%;

	
}

.box_dostig{
	align-items: flex-start;
	padding: 5px;
	color: white;
	height: auto;
	flex:1;
	border-bottom: 1px solid silver;
}

.cards{
	flex: 1;
	width: auto;
}

.dostigeniya{
	width: 80%;
	justify-content: space-around;
	
}
.header{
	height: 90px;
	width: 100%;
	background-color: #303030;
	top: 0px;
	z-index: 100;
	
}

@media screen and (min-width: 768px) {
.menu{
	height: 40%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.flex{
	display: flex;
	justify-content: space-around;
	width: 80%
}
.header{
	position: sticky;
}

}

.txtmenu{
	display: inline-block;
	
}


.logo{
	height: 60%;
	display: flex;
	text-align: center;
	

}
.box{
	height: auto;
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: silver;
	border-width: 0px 0px 2px 0px;	
	border-style: solid;
	background-color: #202230;
}

.box a {
	
	width: 99%;
	height: 99%;
	text-align: center;
	justify-content: center;
    padding-top: 4px;
	font-size: 15pt;
	font-family: "Gilroy";
	color: white;
	
}
.box a:hover{
	text-decoration: none;
	color: white;
	border-bottom: 2px solid white;
}


.logo_img{
	max-width: 100%;
	height: auto;
	padding-left: 20px;
	padding-top: 10px;
	text-align: center;
}

.logo_txt{
	font-family: "Gilroy";
	font-size: 30pt;
	color: white;
	padding-top: 4px;
	vertical-align: center;
	padding-top: 10px;
	text-align: center;
	
}

.footer{
	
	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #303030; /* Цвет фона */
    color: #303030; /* Цвет текста */
    width: 100%;
	

}

.site-content{
	
	margin-top: 10px;
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	flex-direction: column;
	margin-left:  10%;
	margin-right: 10%;
}

.foot_box{
	justify-content: center;
	text-align: center;
	color: white;
}
.imge {
	display:block;
	margin:auto;
	height: 70px;
	width: 220px;
	padding: 10px;
}